USE [CouponsDB]
GO
ALTER TABLE [dbo].[securities] DROP CONSTRAINT [DF__securitie__statu__7A672E12]
GO
ALTER TABLE [dbo].[coupons] DROP CONSTRAINT [DF__coupons__status___00200768]
GO
ALTER TABLE [dbo].[coupons] DROP CONSTRAINT [DF__coupons__record___7F2BE32F]
GO
ALTER TABLE [dbo].[coupons] DROP CONSTRAINT [DF__coupons__payment__7E37BEF6]
GO
ALTER TABLE [dbo].[coupons] DROP CONSTRAINT [DF__coupons__isin_co__7D439ABD]
GO
/****** Object:  Table [dbo].[status_codes]    Script Date: 2023-02-15 10:08:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[status_codes]') AND type in (N'U'))
DROP TABLE [dbo].[status_codes]
GO
/****** Object:  Table [dbo].[securities]    Script Date: 2023-02-15 10:08:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[securities]') AND type in (N'U'))
DROP TABLE [dbo].[securities]
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 2023-02-15 10:08:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[coupons]') AND type in (N'U'))
DROP TABLE [dbo].[coupons]
GO
USE [master]
GO
/****** Object:  Database [CouponsDB]    Script Date: 2023-02-15 10:08:16 PM ******/
DROP DATABASE [CouponsDB]
GO
/****** Object:  Database [CouponsDB]    Script Date: 2023-02-15 10:08:16 PM ******/
CREATE DATABASE [CouponsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CouponsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CouponsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CouponsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CouponsDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CouponsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CouponsDB]
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 2023-02-15 10:08:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupons](
	[coupon_id] [int] IDENTITY(1,1) NOT NULL,
	[isin_code] [varchar](20) NULL,
	[payment_date] [datetime2](0) NULL,
	[record_date] [datetime2](0) NULL,
	[status_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[securities]    Script Date: 2023-02-15 10:08:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[securities](
	[isin_code] [varchar](20) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[status_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[isin_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_codes]    Script Date: 2023-02-15 10:08:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_codes](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[coupons] ON 

INSERT [dbo].[coupons] ([coupon_id], [isin_code], [payment_date], [record_date], [status_id]) VALUES (3, N'GOJ TBILL 2015Z', CAST(N'2023-02-15T00:00:00.0000000' AS DateTime2), CAST(N'2023-02-15T00:00:00.0000000' AS DateTime2), 3)
INSERT [dbo].[coupons] ([coupon_id], [isin_code], [payment_date], [record_date], [status_id]) VALUES (4, N'TREASURY BILL', CAST(N'2023-02-15T00:00:00.0000000' AS DateTime2), CAST(N'2023-02-15T00:00:00.0000000' AS DateTime2), 3)
INSERT [dbo].[coupons] ([coupon_id], [isin_code], [payment_date], [record_date], [status_id]) VALUES (6, N'US896292AF68', CAST(N'2023-02-15T00:00:00.0000000' AS DateTime2), CAST(N'2023-02-15T00:00:00.0000000' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[coupons] OFF
GO
INSERT [dbo].[securities] ([isin_code], [description], [status_id]) VALUES (N'BJU00318B268', N'Bank of Jamaica Variable Rate Certificate of Deposit 20180226', 5)
INSERT [dbo].[securities] ([isin_code], [description], [status_id]) VALUES (N'BJU36416B094', N'3.25% US-INDEXED NOTE 2016A', 5)
INSERT [dbo].[securities] ([isin_code], [description], [status_id]) VALUES (N'BJU36516B034', N'3.25% US-INDEXED NOTE 2016', 5)
GO
SET IDENTITY_INSERT [dbo].[status_codes] ON 

INSERT [dbo].[status_codes] ([status_id], [status_name]) VALUES (1, N'PENDING')
INSERT [dbo].[status_codes] ([status_id], [status_name]) VALUES (2, N'ACTIVE')
INSERT [dbo].[status_codes] ([status_id], [status_name]) VALUES (3, N'CANCELLED')
SET IDENTITY_INSERT [dbo].[status_codes] OFF
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT (NULL) FOR [isin_code]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT (NULL) FOR [payment_date]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT (NULL) FOR [record_date]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT (NULL) FOR [status_id]
GO
ALTER TABLE [dbo].[securities] ADD  DEFAULT (NULL) FOR [status_id]
GO
USE [master]
GO
